.home{
    height: 100%;
    padding: 50px 30px;
}
.home-details h1{
    font-size: 55px;
    line-height: 1;
}
.home-details h2{
    font-size: 32px;
}
.home-details p{
    margin: 10px 0 20px;
}
.home-details .download-social{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.btn:hover {
    background:transparent;
    box-shadow: none;
    color: #fff;
}
.home-details .social-icons{
    margin-left: 20px;
}
.home-details .social-icons a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
}
.home-details .social-icons a:hover{
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.home-img .img-box img{
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 1332px) {
    .home-img{
        display: none;
    }
    .home-details h1{
        font-size: 40px;
    }
    .home-details h2{
        font-size: 24px;
    }
    .home-details p{
        font-size: 12px;
    }
    .btn{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px;
    }
    .download-social{
        justify-content: space-between;
    }

    .home-details .social-icons{
        margin: 0;
    }
    .home-details .social-icons a{
        margin: 2px;
        padding: 5px;
        font-size: 12px;
    }
}
